*.egg-info
__pycache__
venv/
RDF-Cache/
*.old
downloads
*.dsv
docs/*/types/
target/*/*-docs/
tests/gold/biosample.yaml
tests/gold/gold.yaml
tests/kbase/kbase.yaml
tests/neon/neon.yaml
tests/dwc/dwc.yaml
*#
ontotools-docker-config-master/ols-neo4j-data
ontotools-docker-config-master/oxo-neo4j-import
target/neon/.DS_Store
