
# Type: testResult


Result of the test

URI: [neon:testResult](https://data.neonscience.org/testResult)


## Domain and Range

None ->  <sub>OPT</sub> [String](types/String.md)

## Parents


## Children


## Used by

 * [MosPathogenresultsIn](MosPathogenresultsIn.md)
 * [MosPathogenresultsPub](MosPathogenresultsPub.md)
 * [RptBloodtestingIn](RptBloodtestingIn.md)
 * [RptBloodtestingPub](RptBloodtestingPub.md)
 * [TckPathogenPub](TckPathogenPub.md)
 * [TckPathogenresultsIn](TckPathogenresultsIn.md)

## Other properties

|  |  |  |
| --- | --- | --- |
| **Aliases:** | | test result |
| **Mappings:** | | neon:testResult |

